[mcu] #STM32F446ZET6 chip
canbus_uuid= 61b96d7a75b0

[include shell_command.cfg]
[include macros.cfg]
[include my_macros.cfg]
[include line_purge.cfg]
[include toolhead_led.cfg]
[include EBB36.cfg]
[include mainsail.cfg]
[include the_filter.cfg]
[include Klippain_calibrations/*.cfg]
[include homing.cfg]

#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2B001A000E5053424E363620-if00

[virtual_sdcard]
path: /home/tommy/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 10000             #Max 4000
max_z_velocity: 25          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   Cartographer 
#####################################################################
[scanner]
canbus_uuid: 07c6b8ef94d3            
#    adjust to suit your scanner, if using usb change to serial.
#    serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 15                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.02699
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
calibration_method: touch
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
#scanner_touch_z_offset: 0.05         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.

[bed_mesh]
zero_reference_position: 175, 175    
#    set this to the middle of your bed
speed: 400
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 10, 17
#    start point of bed mesh [X, Y]
mesh_max: 340, 320
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

[adxl345]
cs_pin: scanner: PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree stepper
endstop_pin:tmc2209_stepper_x:virtual_endstop #X_STOP
position_min: 0
##--------------------------------------------------------------------

position_endstop: 348
position_max: 348

##--------------------------------------------------------------------
homing_speed: 60   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
diag_pin: ^PG6
uart_pin: PC4
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree stepper
endstop_pin:tmc2209_stepper_y:virtual_endstop #Y_STOP
position_min: 0
##--------------------------------------------------------------------

##  Uncomment for 350mm build
position_endstop: 367
position_max: 367

##--------------------------------------------------------------------
homing_speed: 60  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
diag_pin: ^PG9
uart_pin: PD11
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop # uses cartographer as virtual endstop

position_max: 300
position_min: -5
homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 0 # cartographer needs this to be set to 0

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
rotation_distance: 23.2459248775
gear_ratio: 50:8               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: EBBCan: PB13
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type: EPCOS 100K B57560G104F #ATC Semitec 104NT-4-R025H42G
#sensor_pin: PA3

sensor_type:MAX31865
sensor_pin: EBBCan:PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 170
max_extrude_cross_section: 5
max_extrude_only_distance: 150.0

#control: pid
#pid_kp: 26.213
#pid_ki: 1.304
#pid_kd: 131.721

pressure_advance: 0.040
pressure_advance_smooth_time: 0.040

#[verify_heater extruder]
#max_error: 180
#check_gain_time: 60
#hysteresis: 5
#heating_gain: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[firmware_retraction]
retract_length: 0.4
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 1
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.0166
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
[fan]
pin: EBBCan: PA0
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: EBBCan: PA1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 80.0
fan_speed: 1.0

##  Controller fan - FAN2
#[controller_fan controller_fan]
#pin: PD12
#kick_start_time: 0.5
#heater: heater_bed
#fan_speed: 0.5

[temperature_fan RBP_4]
sensor_type: temperature_host #This is what the Pi4 Temperature sensor is known as.
pin: PD12
max_temp: 80.0                #Set below 85C, Pi4+ MCU can be damaged at 85C
target_temp: 55.0             #Set this to your preferred running temperature
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: .7
min_speed: 0.0
control: pid
pid_Kp: 1.0 #2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 1.0 #2.0

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
#   LED Control
#####################################################################

[output_pin daylight]
pin: PB11
pwm: True
shutdown_value: 0
value:1
cycle_time: 0.01

[neopixel headlight]
## Stealthburner lighting - RGB_LED
pin: PB0
chain_count: 3
color_order: RGBW #GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#####################################################################
#   Temperture Sensors
#####################################################################

#[temperature_sensor ch_gantry]
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PF4
#min_temp: 0
#max_temp: 100
#gcode_id: chamber_th

[temperature_sensor ch3_gantry_top]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: chamber_gantry_top

[temperature_sensor ch5_upper_front]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF7
min_temp: 0
max_temp: 100
gcode_id: chamber_upper_upper_front

[temperature_sensor ch2_Z_chain]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
min_temp: 0
max_temp: 100
gcode_id: chamber_upper_rear_th

[temperature_sensor ch4_upper_rear]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF6
min_temp: 0
max_temp: 100
gcode_id: chamber_upper_rear

[temperature_sensor ch0_avg]
sensor_type: temperature_combined
sensor_list: temperature_sensor ch5_upper_front, temperature_sensor ch2_Z_chain, temperature_sensor ch4_upper_rear, temperature_sensor ch3_gantry_top
combination_method: mean
maximum_deviation: 999.9
gcode_id: ch0_avg

[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[temperature_sensor Cartographer_MCU]
sensor_type:   temperature_mcu
sensor_mcu:            scanner
min_temp:                    0
max_temp:                  105

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3600

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
##  Probe points
points:
   25,25
   25,300
   325,300
   325,25

speed: 400
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.003
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
   
    G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------
    RESTORE_GCODE_STATE NAME=STATE_G32

#####################################################################
#   TMC Autotune
#####################################################################
[autotune_tmc stepper_x]
motor: moons-ms17hd6p420I-04
sg4_thrs: 95  #Higher is senseitive range 0 to 255
tuning_goal= auto
pwm_freq_target=22e3
[autotune_tmc stepper_y]
motor: moons-ms17hd6p420I-04
sg4_thrs: 120  #Higher is senseitive range 0 to 255
tuning_goal= auto
pwm_freq_target=22e3

[autotune_tmc stepper_z]
motor: moons-ms17hd6p420I-04
tuning_goal= auto

[autotune_tmc stepper_z1]
motor: moons-ms17hd6p420I-04
tuning_goal= auto

[autotune_tmc stepper_z2]
motor: moons-ms17hd6p420I-04
tuning_goal= auto

[autotune_tmc stepper_z3]
motor: moons-ms17hd6p420I-04
tuning_goal= auto

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
tuning_goal= auto

#####################################################################
#   Shake&Tune
#####################################################################
[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 70.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 44.2
#*# damping_ratio_x = 0.042
#*# damping_ratio_y = 0.059
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.785
#*# pid_ki = 2.231
#*# pid_kd = 113.235
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 49.269
#*# pid_ki = 2.204
#*# pid_kd = 275.290
#*#
#*# [scanner model default]
#*# model_coef = 1.2981337349393343,
#*# 	1.7270042499234615,
#*# 	0.7422326285298081,
#*# 	0.04365666954828372,
#*# 	0.6477907273715661,
#*# 	1.9330964019995502,
#*# 	-0.7171207684360413,
#*# 	-2.5382362394543465,
#*# 	0.5749206241079362,
#*# 	1.2834806897079394
#*# model_domain = 3.128629532020538e-07,3.319058715830043e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 22.478993
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*# scanner_touch_threshold = 3250
#*# scanner_touch_z_offset = 0.090
